# Ignore log files in the root directory.
*.txt

# Ignore python cache files
**__pycache__/

# Ignore egg info files
*.egg-info/

# Ignore VSCode Local Settings 
.vscode/

# Ignore build files
build/

# Ignore venv files
venv/

# Ignore log files
*.log

# Ignore the logs/ directory
logs/
